astroid==3.2.4
async_pyserial==0.2.3
asyncio==3.4.3
asyncssh==2.15.0
cffi==1.16.0
cryptography==42.0.8
dill==0.3.8
eventkit==1.0.3
isort==5.13.2
mccabe==0.7.0
numpy==2.0.0
platformdirs==4.2.2
psutil==6.0.0
pycparser==2.22
pylint==3.2.6
pytz==2024.1
toml==0.10.2
tomlkit==0.13.0
typing_extensions==4.12.2
