Source: loraline-netmanage
Section: devel
Priority: optional
Maintainer: uber foot <uberfoot@yahoo.com>
Build-Depends: debhelper-compat (= 13) 
Standards-Version: 4.1.2
Homepage: 
#Vcs-Git: https://anonscm.debian.org/git/collab-maint/nuttx.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/nuttx.git

Package: loraline-netmanage
Architecture: any
Depends: python3
Breaks: loraline-netmanage
Description: Manage access to a loraline network and monitoring of the network.
 The application runs as two parts; one a background service, the other
 a command line interface.
