#!/usr/bin/make -f

PACKAGE = loraline-netmanage
VERSION = 1.1-1
BUILD_DIR=${PACKAGE}-${VERSION}
SERVICES = netmanage.servvice
RM = rm -f
clean:
	@dh_clean
	@${RM} ../*.deb ../*.buildinfo ../*.changlogs

build::
	@mkdir -p debian/${PACKAGE}/opt/${PACKAGE}
	@cp -a etc/  debian/${PACKAGE}
	@cp  lib/systemd/system/netmanage.service debian/${PACKAGE}.service
	@cp  lib/systemd/system/netmanage.socket debian/${PACKAGE}.socket
	@find ../ ! -type d -name "*.py" > /tmp/foo
	@tar -T /tmp/foo -zcf /tmp/bar.tgz && tar -C  debian/${PACKAGE}/opt/${PACKAGE} -zxf /tmp/bar.tgz

binary:
	dh_installdeb
	dh_gencontrol
	dh_builddeb
	dh_fixperms
