#!/usr/bin/make -f

PACKAGE = loranet-netmanage
VERSION = 1.1-1
BUILD_DIR=${PACKAGE}-${VERSION}
SERVICES = netmanage.servvice
RM = rm -f
clean:
	@dh_clean
	@${RM} ../*.deb ../*.buildinfo ../*.changlogs

build::
	@mkdir -p debian/${PACKAGE}
	@cp -a boot/ lib/ usr/ debian/${PACKAGE}
binary:
	dh_installdeb
	dh_gencontrol
	dh_builddeb
	dh_fixperms
